@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/animations" as *;

.wrapper {
  position: fixed;
  bottom: $sp-6;
  right: $sp-6;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: $sp-2;
}

.toast {
  @include font-mono;
  @include text-sm;
  @include fade-slide-up;
  cursor: pointer;
  border-left: 2px solid;
  padding: $sp-3 $sp-4;
}

.success {
  border-left-color: $success;
  background: $success-muted;
  color: $success;
}

.error {
  border-left-color: $danger;
  background: $danger-muted;
  color: $danger;
}
