@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $sp-1;
  margin-top: $sp-8;
  padding-bottom: $sp-4;
}

.pageBtn {
  border: 1px solid $border;
  padding: $sp-1 + 0.125rem $sp-3;
  @include font-mono;
  @include text-xs;
  color: $text-secondary;
  background: transparent;
  cursor: pointer;
  @include transition-colors;

  &:hover {
    border-color: $accent;
    color: $accent;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;

    &:hover {
      border-color: $border;
      color: $text-secondary;
    }
  }
}

.pageBtnActive {
  composes: pageBtn;
  border-color: $accent;
  @include gradient-bg;
}

.pageDots {
  padding: 0 $sp-1;
  @include font-mono;
  @include text-xs;
  color: $text-secondary;
}
